@font-face {
   font-family: 'Euclid-semiBold';
   src: url(../fonts/EuclidCircularA-SemiBold.ttf);
}
@font-face {
   font-family: 'Euclid-medium';
   src: url(../fonts/EuclidCircularA-Medium.ttf);
}
@font-face {
   font-family: 'Euclid-medium-italic';
   src: url(../fonts/EuclidCircularA-MediumItalic.ttf);
}
@font-face {
   font-family: 'Euclid-regular';
   src: url(../fonts/EuclidCircularA-Regular.ttf);
}
:root {
   --asideColor: #273469;
   --grayColor: #686868;
   --font-semiBold: 'Euclid-semiBold';
   --font-medium: 'Euclid-medium';
   --font-mediumItalic: 'Euclid-medium-italic';
   --font-regular: 'Euclid-regular';
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
html, body {font-size: 16px;}
button {outline: none;}
a {color: #FFF; text-decoration: none;}
img {
   width: 75px;
   height: auto;
   vertical-align: top;
   border-radius: 50%;
   float: left;
}
.container {
   position: relative;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 75% 25% ;
   grid-template-areas:
   "main aside";
}
.main {
   padding: 20px 40px;
   grid-area: main;
}
/* Header */
.name {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
.name div {margin-left: 20px;}
.name h1 {
   font-family: var(--font-semiBold);
   font-size: 1.6rem;
}
.name h3 {
   text-transform: uppercase;
   font-family: var(--font-medium);
   font-size: 0.8rem;
   color: #686868b3;
}
/* Employement History */
.employement {margin-bottom: 40px;}
.employement h2, .educational h2, .certifications h2 {
   font-family: var(--font-semiBold);
   font-size: 2rem;
   margin-bottom: 10px;
   color: #272727;
}
.main hr {
   width: 10%;
   border: 1px solid var(--asideColor);
   border-radius: 20px;
   margin: 5px 0 15px 0;
}
.employement h4, .employement p {
   font-family: var(--font-regular);
   color: var(--grayColor);
}
/* Develop class style */
.develop {
   margin: 20px 0;
   line-height: 30px;
   font-family: var(--font-regular);
}
.develop span, .develop small, .develop a {
   font-size: 0.9rem;
   color: var(--grayColor);
}
.develop a:hover {
   color: #272727;
   text-decoration: underline;
   transition: all 200ms;
}
.develop h4 {
   font-family: var(--font-mediumItalic);
   font-size: 1.5rem;
}
/* ---------------------------Aside Styles----------------------------------- */
.aside {
   grid-area: aside;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   padding: 20px 40px;
   background: var(--asideColor);
   color: #fff;
}
.aside h2 {
   font-family: var(--font-regular);
   font-weight: 600;
   font-size: 1.7rem;
   padding-bottom: 10px;
}
.aside p, i {
   padding-bottom: 5px;
   line-height: 27px;
   font-family: var(--font-regular);
   font-size: 0.9rem;
   text-decoration: none;
   color: #FFF;
}
.aside .website {font-weight: bold;}
.aside strong {font-weight: 600;}
.aside .email:hover {text-decoration: underline;}
/*-------------------------Skills section styles---------------------------*/
.skills small {
   font-family: var(--font-regular);
   color: rgba(255, 255, 255, 0.7);
   font-size: 0.8rem;
}
.technologies {margin: 20px 0;}
.technologies p {font-size: 1.1rem;;}
.technologies span, .technologies a {
   font-family: var(--font-regular);
   font-size: 0.9rem;
   padding-right: 20px;
   color: #FFF;
   text-decoration: underline;
   cursor: pointer;
   transition: 200ms;
}
.technologies span:hover, .technologies a:hover {
   color: #FFF;
}
/* ------------------------Technologie container styles------------------------ */
.tech-info {
   display: none;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 20px 40px;
   font-family: var(--font-regular);
   font-weight: 400;
   background: #14213D;
   color: #FFF;
}
.tech-active {display: block; animation: show 0.7s ease;}
.tech-hidden {animation: hide 0.7s ease;}
/* Technologie header style */
.tech-header {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.tech-header p {
   font-size: 1.2rem;
   color: #d6d6d6;
}
.tech-header span {
   font-weight: 500;
   letter-spacing: 0.5px;
   color: #FFF;
}
.tech-close-icon {
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   background: transparent;
   cursor: pointer;
   transition: 300ms;
}
.tech-close-icon:hover {
   background: #B50000;
   border-color: #B50000;
}
.tech-close-icon img {
   width: 100%;
   max-width: 2vw;
   display: block;
   margin: 0 auto;
}
/* Technologie body */
.tech-info hr {
   width: 10%;
   margin: 20px 0;
   border: 1px solid #FF9900;
}
.tech-paragraph {
   font-size: 0.9rem;
   line-height: 27px;
}
/*-------------------------Footer section style---------------------------------*/
.footer {
   margin: 0;
   padding: 20px 0;
   font-family: var(--font-regular);
   font-size: 0.9rem;
}
/* Keyframes to animate the tecnology information */
@keyframes show {
   from {transform: translateY(100%);}
   to {transform: translateY(0px);}
}
@keyframes hide {
   from {transform: translateY(0);}
   to {transform: translateY(100%);}
}
/* Media queries for the measure about 950px to avoid that the grid system do not bug */
@media screen and (max-width: 1400px) {
   html {font-size: 14px;}
   .container {grid-template-columns: 70% 30%;}
}
/* Media querie for measure about 800px to change the view of the page and show: first the main section and then the aside one. */
@media screen and (max-width: 800px) {
   html {font-size: 16px;}
   .container {
      grid-template-columns: 100% 100%;
      grid-template-areas: "main"
                           "aside";
   }
   .main, .aside {padding: 20px 30px;}
   .aside div {margin: 20px 0;}
   .tech-close-icon img {max-width: 3vw;}
}
@media screen and (max-width: 600px) {
   .tech-close-icon img {max-width: 5vw;
   }

   .tech-info {font-size: 0.9rem;}
}
@media screen and (max-width: 400px) {
   .tech-info {font-size: 14px;}

   .tech-close-icon img {max-width: 6vw;}
}